<header class="header">
    <nav>
    <a href="/" class="header_logo">NodeJs</a>
    <ul>
        <li>
            <a href="/" class="home">Home</a>
        </li>
        <li>
            <a href="/about" class="about">About</a>
        </li>
        <li>
            <a href="/contact" class="contact">Contact</a>
        </li>
    </ul>
</nav>
<div class="header_button">
    <button class="searchBtn" aria-expanded="false">Search</button>
</div>
</header>