<h1>Contact</h1>
<div className="p-4">
    <form ref={form} className="row g-3 h-100" onSubmit={sendEmail(event)}>
      <div className="col-md-6">
        <label htmlFor="name" className="form-label" aria-required="true">Name</label>
        <input type="text" className="form-control" id="name" name="name" maxLength="30" required />
      </div>
      <div className="col-md-6">
        <label htmlFor="email" className="form-label" aria-required="true">Email</label>
        <input type="email" className="form-control" id="email" name="email" required />
      </div>
      <div className="col-12">
        <label htmlFor="title" className="form-label">Title</label>
        <input type="text" className="form-control" id="title" name="title" />
      </div>
      <div className="col-12">
        <label htmlFor="message" className="form-label" aria-required="true">Message</label>
        <textarea className="form-control" id="message" name="message" rows="5" required></textarea>
      </div>
      <div className="col-12">
        <button type="submit" className="btn btn-secondary btn-lg" value="SEND">Submit</button>
      </div>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.6.4/dist/email.min.js"></script>
  <script>
      function sendEmail(event) {
          event.preventDefault();

          const form = document.getElementById('contactForm');
          const formData = new FormData(form);

          const name = formData.get('name');
          const email = formData.get('email');
          const message = formData.get('message');

          if (!name || !email || !message) {
              alert('Please fill out all required fields.');
              return;
          }

          // Replace with your actual EmailJS parameters
          emailjs.sendForm('service_0lge5jg', 'template_i9st7nm', form)
              .then(function(response) {
                  console.log('SUCCESS!', response.status, response.text);
                  alert('Message successfully sent!');
                  form.reset();
                  window.location.reload(false);
              }, function(error) {
                  console.log('FAILED...', error);
                  alert('Failed to send the message, please try again');
              });
      }
  </script>
